.field {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    width: 90%;
    padding: 10px;
    background: #f2f2f2;
}

.inputFields {
    outline: none;
    font-family: inherit;
    border: none;
    font-weight: 500;
    background: none;
}

#messageField {
    resize: none;
    height: 100px;
}

.inputGroup__label {
    color: inherit;
    transition: all 0.2s ease-in-out;
}

.inputFields:focus~.inputGroup__label {
    color: var(--primary) !important;
    opacity: 1;
}