.progress-card {
    max-width: 250px;
    min-width: 250px;
    height: 170px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    flex-shrink: 0;
}

.progress-card .card-image {
    position: absolute;
    width: 80px;
    height: 80px;
    object-fit: contain;
    top: 10%;
    left: 0;
    padding: 25px;
    box-sizing: inherit !important;
}