.image-container,
.cover-container {
    height: 100%;
    min-width: 316px;
    max-width: 316px;
    flex-shrink: 0;
    position: relative;
}

.image-container .archie {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.about-side-nav {
    padding: 0;
    position: absolute;
    top: 240px;
    left: -100px;
    list-style-type: none;
    transform: rotate(-90deg);
}

.about-side-nav li {
    display: inline-block;
    margin: 0 10px;
}


.about-side-nav li a {
    font-family: "Kanit";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: inherit;
}

.about-side-nav .about-name {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-weight: bold;
}

.about-side-nav .about-line hr {
    width: 100px;
    transform: translateY(-4px);
}