.socials-list {
    list-style-type: none;
    padding: 0 12px;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 14px;
    transform: translate(5px, 10px);
}

.socials-list li {
    margin: 10px 0;
    display: inline-block;
}