.app-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 5%;
    width: 100% !important;
    max-width: 100% !important;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
    background: none;
    box-sizing: border-box !important;
    margin: 0;
}

.app-header.active {
    height: 10%;
    padding: 20px 100px !important;
    background: var(--secondary);
    color: white !important;
}

.app-header .app-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: inline-block;
    border-radius: 50%;
    transform: scale(0.8);
}

.app-header .topnav-list {
    padding: 0;
    list-style-type: none;
}

.app-header .topnav-list li {
    display: inline-block;
    margin: 0 10px;
}

.app-header .topnav-list li a {
    color: inherit;
    text-decoration: none;
}

.drawer-links {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 600px) {
    .app-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
    }
}