@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&family=DM+Serif+Text&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Reem+Kufi:wght@400;500;600;700&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #e95e3b;
  --secondary: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  box-sizing: border-box !important;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

body::-webkit-scrollbar-track {
  background: var(--secondary);
}

.active-scroll-spy {
  color: var(--primary);
  position: relative;
  opacity: 1 !important;
}

.active-scroll-spy::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary);
}

html {
  scroll-padding-top: 5%;
  /* height of your navbar */
}