.download__button:hover {}

.download__button:first-child {
    border: 1px solid white;
    background: var(--secondary) !important;
}

.download__button:last-child {
    background: rgb(236, 236, 236) !important;
}